{% render 'partials/head.liquid' %}

<article class="card">
  <article class="personal">
    <img src="/Arman.jpeg" alt="Profielfoto van {{ person.name }}">
    <h1>{{ person.name }}, {{ person.age }}</h1>
    <p>{{ person.custom.activity }}</p>
    <ul class="sites">
      <li>
        <a href="{{ person.website }}">Portfolio</a>
      </li>
      <li>
        <a href="https://armanvd.github.io/the-startup-responsive-interactive-website/">AccessDash</a>
      </li>
      <li>
        <a href="https://iloveweb.armanvoogd.com">I Love Web</a>
      </li>
    </ul>
  </article>
  <article class="about-me">
    <h2>About me</h2>
    <p>{{ person.bio }}</p>
  </article>
</article>

{% render 'partials/foot.liquid' %}